ul.thumbnails.image_picker_selector {
	overflow: auto;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

ul.thumbnails.image_picker_selector ul {
	overflow: hidden;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.thumbnails.image_picker_selector li.group_title {
	float: none;
}

ul.thumbnails.image_picker_selector li {
	margin: 1px;
	display: inline-block;
}

ul.thumbnails.image_picker_selector li .thumbnail {
	border: 1px solid #dddddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
	-webkit-user-drag: none;
	width: 68px;
	height: 68px;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	background: #0088cc;
}

.thumbnail{
	margin-bottom: 0px;
}