@CHARSET "UTF-8";

#contents {
	width: 500px;
}

#contentsHeader {
	overflow: hidden;
}

#planDate {
	float: right;
}

#title {
	width: 100%;
	text-align: center;
}

#titleValue {
	padding: 0.5em;
	width: 100%;
	max-width: 100%;
	font-size: 20px;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
	display: inline-block;
}

#contentsDetail {
	overflow: hidden;
}

#startEnd {
	float: left;
	text-align: center;
	margin-top: 20px;
	padding: 5px;
}

#dateInfo {
	color: red;
	margin-top: 5px;
	font-size: 18px;
}

.center {
	width: 100%;
	display: inline-block;
}

#planner {
	float: right;
	text-align: center;
}

#contentsComment {
	border: 1px solid black;
	padding: 10px;
	width: 500px;
	max-width: 500px;
	margin-bottom: 5px;
	-webkit-border-radius: 10px;
	/*  height: 50px; */
}

#contentsCommentValue {
	width: 100%;
	max-width: 100%;
	padding: 0.4em;
}

ｃ {
	border: 1px solid black;
	padding: 10px;
	width: 500px;
	max-width: 500px;
	margin-bottom: 5px;
	-webkit-border-radius: 10px;
	/*  height: 50px; */
}

#img {
	width: 100px;
	height: 100px;
}

#img>img {
	max-width: 100px;
	max-height: 100px;
}

.trigger {
	display: inline-block;
	width: 100%;
	background-color: #F29900;
	font-size: 18px;
	margin-top: 10px;
}

.toggle_container {
	display: inline-block;
	width: 100%;
	border: 1px solid #F29900;
}

/*ボタン*/
.contents_submit {
	margin-top: 20px;
	width: 50%;
	height: 50px;
	font-size: 25px;
}
/*******************************
* フレーム画像用
********************************/
div.flameDiv {
	width: 100px;
	height: 100px;
	margin-top: -100px;
	position: relative;
}

.flameDiv>img {
	max-width: 100px;
	max-height: 100px;
}