@CHARSET "UTF-8";

.search {
	width: 100%;
	overflow: hidden;
	border: 1px solid #666;
	table-layout: fixed
}

.search tr th {
	background-color: #F29900;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #666;
	text-align: center
}

.searchDataColumn {
	text-align: center;
	width: 70%;
	vertical-align: middle;
	border-bottom: 1px solid #666;
}

.searchDetailColumn {
	vertical-align: middle;
	width: 70%;
}

.detailData {
	margin-left: 5px;
	display: inline-block;
}

.detailInside {
	word-break: break-all;
	word-wrap: break-word;
	display: inline-block;
}

.searchBtnColumn {
	text-align: center;
	width: 15%;
	min-width: 15%;
	border-bottom: 1px solid #666;
	vertical-align: middle;
}

.keyword {
	width: 98%;
}

.searchBtn {
	width: 90%;
	margin-top: 5%;
}

.searchDetailBtn {
	width: 90%;
	margin-top: 10%;
}

.detailTitle {
	color: #F29900;
}

#list {
	width: 800px;
}

.data {
	padding: 5px;
	width: 100%;
	border: 1px solid black;
	overflow: hidden;
	margin-top: 10px;
	-webkit-border-radius: 10px;
}

.data>hr {
	margin: 5px 0;
	border-top: solid 1px #888;
}

.title {
	font-size: 18px;
}

.title>a:LINK {
	color: #F29900;
}

.left {
	/* 	float: left; */
	width: auto;
	/* 	max-width: 70%; */
}

.left table {
	margin-left: 50px;
}


.right {
	/* 	float: right; */
	text-align: right;
}

.like, .dislike {
	display: inline-block;
	min-width: 9em;
	margin-left: 1em;
	text-align: left;
}

.name, .period, .evaluations, .comments {
	width: 100px;
}

.left table tr td a {
	word-break: break-all;
	word-wrap: break-word;
	display: inline-block;
}

.col {
	display: block;
}

.evaluation {
	width: auto;
}
