<<<<<<< HEAD
@CHARSET "UTF-8";
div.contents{
	width:900px;
	margin-top:30px;
	margin-bottom:30px;
}
h1.employeePageTitle{
	font-size:60px;
	margin-left:45px;
	margin-top:10px;
}
div.leftContents{
	float:left;
	width:230px;
	margin-top:20px;
	margin-left: 15px;
	margin-right:20px;
	margin-bottom:20px;
}
div.employeeStatus{
	width:250px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#ffdddd;
	text-align:center;
}
ul.employeeData{
	margin-top:5px;
}
li.employeeComment{
	font-size:20px;
}
li.employeeName{
	font-size: 40px;
}
li.departmentName{
	font-size: 30px;
}
li.employeeLevel{
	font-size:30px;
}
li.employeeExperience{
	font-size: 25px;
}
input.homeButton{
	width:200px;
	height:50px;
	margin-top:5px;
	font-size:25px;
}
div.genreExperience{
	width:250px;
	background-color:#fed2ab;
	text-align: center;
}
h4.experienceTitle{
	font-size:30px;
}
div.bigGenre1List{
	width:250px;
	height:250px;
	overflow: auto;
	background-color:blue;
}
div.bigGenre2List{
	width:250px;
	height:250px;
	overflow:auto;
	background-color:red;
}
div.rightContents{
	float:left;
	width: 540px;
	margin-top:20px;
	margin-left: 20px;
	margin-right:15px;
	margin-bottom:20px;
}
div.radarChart{
	margin-left:0px;
	margin-bottom:20px;
	background-color:#ffee99;
}
div.badgeView{
	width:540px;
	height:150px;
	margin-bottom: 20px;
	background-color: red;
	text-align: center;
}
div.badgeTabs{
	width:100%;
	height:30px;
	margin:0px;
	background-color:cyan;
	text-align:center;
}
a.totalTab{
	float:left;
	width:33.5%;
	height:100%;
	background-color:#ffc8e7;
}
a.monthTab{
	float:left;
	width:33%;
	height:100%;
	background-color: #fefe72;
}
a.yearTab{
	float:left;
	width:33.5%;
	height:100%;
	background-color: #ddddff;
}
#totalTab{
	background-color:#ffc8e7;
}
#monthTab{
	background-color: #fefe72;
}
#yearTab{
	background-color: #ddddff;
}
table.badgeTable{
	height:120px;
	text-align:center;
	margin-left:3%;
}
td.badgeTab{
	text-align:center;
}
img.badgeImg{
	width:50px;
	height:50px;
}
div.activities{
	width:540px;
	height:440px;
	margin-right:0px;
	background-color:red;
}
div.tabs{
	width:100%;
	height:50px;
	text-align: center;
}
a.homeTab{
	float:left;
	width:33.5%;
	height:50px;
	background-color: #ffc8e7;
}
a.planTab{
	float:left;
	width:33%;
	height:50px;
	background-color: #fefe72;
}
a.planCommentTab{
	float:left;
	width:33.5%;
	height:50px;
	background-color: #ddddff;
}
div.activityTab{
	height:100%;
	overflow: auto;
}
h4.notActivity{
	font-size:40px;
}
li.days{
	font-size:20px;
	text-align: left;
	margin-left: 10px;
}
li.activity{
	font-size:20px;
	text-align:left;
	margin-left:40px;
}
#homeTab{
	background-color:#ffc8e7;
}
#planTab{
	background-color: #fefe72;
}
#planCommentTab{
	background-color: #ddddff;
=======
@CHARSET "UTF-8";
div.contents{
	width:900px;
	margin-top:30px;
	margin-bottom:30px;
}
h1.employeePageTitle{
	font-size:60px;
	margin-left:45px;
	margin-top:10px;
}
div.leftContents{
	float:left;
	width:230px;
	margin-top:20px;
	margin-left: 15px;
	margin-right:20px;
	margin-bottom:20px;
}
div.employeeStatus{
	width:250px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#ffdddd;
	text-align:center;
}
div.imageDiv{
	width:200px;
	height:200px;
	margin-right:25px;
	margin-left:25px;
}
img.employeeImage{
	width:200px;
	height:200px;
}
ul.employeeData{
	margin-top:5px;
}
li.employeeComment{
	font-size:20px;
}
li.employeeName{
	font-size: 40px;
}
li.departmentName{
	font-size: 30px;
}
li.employeeLevel{
	font-size:30px;
}
li.employeeExperience{
	font-size: 25px;
}
input.homeButton{
	width:200px;
	height:50px;
	margin-top:5px;
	font-size:25px;
}
div.genreExperience{
	width:250px;
	background-color:#fed2ab;
	text-align: center;
}
h4.experienceTitle{
	font-size:30px;
}
div.bigGenre1List{
	width:250px;
	height:250px;
	overflow: auto;
	background-color:blue;
}
div.bigGenre2List{
	width:250px;
	height:250px;
	overflow:auto;
	background-color:red;
}
div.rightContents{
	float:left;
	width: 540px;
	margin-top:20px;
	margin-left: 20px;
	margin-right:15px;
	margin-bottom:20px;
}
div.radarChart{
	margin-left:0px;
	margin-bottom:20px;
	background-color:#ffee99;
}
div.badgeView{
	width:540px;
	height:150px;
	margin-bottom: 20px;
	background-color: red;
	text-align: center;
}
div.badgeTabs{
	width:100%;
	height:30px;
	margin:0px;
	background-color:cyan;
	text-align:center;
}
a.totalTab{
	float:left;
	width:33.5%;
	height:100%;
	background-color:#ffc8e7;
}
a.monthTab{
	float:left;
	width:33%;
	height:100%;
	background-color: #fefe72;
}
a.yearTab{
	float:left;
	width:33.5%;
	height:100%;
	background-color: #ddddff;
}
#totalTab{
	background-color:#ffc8e7;
}
#monthTab{
	background-color: #fefe72;
}
#yearTab{
	background-color: #ddddff;
}
table.badgeTable{
	height:120px;
	text-align:center;
	margin-left:3%;
}
td.badgeTab{
	text-align:center;
}
img.badgeImg{
	width:50px;
	height:50px;
}
div.activities{
	width:540px;
	height:440px;
	margin-right:0px;
	background-color:red;
}
div.tabs{
	width:100%;
	height:50px;
	text-align: center;
}
a.homeTab{
	float:left;
	width:33.5%;
	height:50px;
	background-color: #ffc8e7;
}
a.planTab{
	float:left;
	width:33%;
	height:50px;
	background-color: #fefe72;
}
a.planCommentTab{
	float:left;
	width:33.5%;
	height:50px;
	background-color: #ddddff;
}
div.activityTab{
	height:100%;
	overflow: auto;
}
h4.notActivity{
	font-size:40px;
}
li.days{
	font-size:20px;
	text-align: left;
	margin-left: 10px;
}
li.activity{
	font-size:20px;
	text-align:left;
	margin-left:40px;
}
#homeTab{
	background-color:#ffc8e7;
}
#planTab{
	background-color: #fefe72;
}
#planCommentTab{
	background-color: #ddddff;
>>>>>>> refs/remotes/origin/Nakano
}
