@CHARSET "UTF-8";

body {
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
}

#wrapper {
	width: 500px;
	max-width: 500px;
	margin: 0 auto;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin: 0 auto;
}

#toUser {
	overflow: hidden;
	width: 400px;
	display: inline-block;
}

p {
	display:inline-block;
	text-align: left;
	word-break: keep-all;
}

#face {
	width: 45%;
	margin: 0 auto;
	display: inline-block;
}

#name {
	width: 45%;
	vertical-align: middle;
	display: inline-block;
}

#batch {
	margin: 0 auto;
	width: 400px;
}

.image-picker {
	width: 60%;
	margin: 5px;
}

#comment>textarea {
	width: 400px;
	max-width: 400px;
	height: 100px;
}

#point {
	width: 100%;
}

/*ボタン*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #e6002d;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	/* 	background: #cb4e4e; */
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2[disabled] {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 1.5px #CD0014;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #CD0014;
	top: 6px;
}

.submit {
	margin-top:10px;
	width: 400px;
}