@CHARSET "UTF-8";

body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

#list {
	width: 800px;
}

.data {
	padding: 5px;
	width: 100%;
	min-height: 100%;
	height: auto;
	height: 100%;
	border: 1px solid black;
	overflow: hidden;
	margin-top: 10px;
	-webkit-border-radius: 10px;
}

.title {
	font-size: 18px;
}

.title>a:LINK {
	color: #F29900;
}

.left {
	/* 	float: left; */
	width: auto;
	/* 	max-width: 70%; */
}

.right {
	/* 	float: right; */
	text-align: right;
}

.like, .dislike {
	display: inline-block;
	min-width: 9em;
	margin-left: 1em;
	text-align: left;
}

.name {
	margin-left: 50px;
}

.period {
	margin-left: 50px;
}

.genre {
	margin-left: 50px;
}

.genre>a, .col {
	word-break: break-all;
	word-wrap: break-word;
	display: inline-block;
}

.evaluation {
	width: auto;
	height: 100%;
}

img {
	width: 2em;
	height: 2em;
}