@CHARSET "UTF-8";

body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

th, td {
	padding: 20px;
}

table {
	table-layout: fixed
}


.search {
	width: 100%;
	overflow: hidden;
	border: 1px solid #666;
}

.searchTitle {
	background-color: #F29900;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #666;
	text-align: center
}

.searchForm {
	width: 60%;
	vertical-align: middle;
	border-bottom: 1px solid #666;
}

.help {
	text-align: center;
	background-color: #FFFFB3;
	width: 25%;
	min-width: 25%;
	border-bottom: 1px solid #666;
	vertical-align: middle;
}

.keyword {
	width: 98%;
}

.trigger {
	display: inline-block;
	width: 100%;
	background-color: #F29900;
	font-size: 18px;
	margin-top: 10px;
}

.toggle_container {
	display: inline-block;
	width: 100%;
	border: 1px solid #F29900;
}

/*ボタン*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #e6002d;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	/*  background: #cb4e4e; */
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2[disabled] {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 1.5px #CD0014;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #CD0014;
	top: 6px;
}

.btnZone{
	text-align: center;
}

.searchBtn{
	margin-top:20px;
	width: 50%;
	height: 50px;
	font-size: 25px;
}