@CHARSET "UTF-8";

.wrapper {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	text-align: center;
	padding-top:100px;
}



/*ボタン*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #e6002d;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	/*  background: #cb4e4e; */
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2[disabled] {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 1.5px #CD0014;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #CD0014;
	top: 6px;
}

.btnZone {
	width: 500px;
	text-align: center;
}

.submitBtn {
	margin-top: 20px;
	width: 50%;
	height: 50px;
	font-size: 25px;
}