@CHARSET "UTF-8";

body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

h1 {
	margin: 30px 0 10px;
}

#headerline {
	height: 10px;
	width: 100%;
	background: orange;
	font-size: 1px;
	color: orange;
}

header {
	position: relative;
	width: 1000px;
	margin: 0 auto 10px;
	height: 216px;
	z-index: 5
}

#logo {
	width: 250px;
	margin: 0 auto;
	float: left;
}

#logo img {
	width: 250px;
	margin: 20px auto 0;
}

#headerright {
	width: 750px;
	margin-left: 250px;
	position: relative;
}

#headerstr {
	position: absolute;
	width: 400px;
	height: 71px;
	right: 250px;
	top: 85px;
	text-align: right;
}

#headername {
	font-size: 30px;
}

#headerlevel {
	font-size: 20px
}

#headerright {
	width: 750px;
	height: 156px
}

#headerright img {
	max-height: 120px;
	max-width: 120px
}

#headerimage {
	position: absolute;
	width: 120px;
	height: 120px;
	text-align: center;
	right: 110px;
	top: 40px;
}

#headerflame {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0;
	right: 0;
}

#headerbutton {
	position: absolute;
	width: 100px;
	height: 156px;
	top: 70px;
	right: 0;
}

#headerlevel {
	font-size: 20px
}

#headerright {
	width: 750px;
	height: 156px
}

#headerright img {
	max-height: 120px;
	max-width: 120px
}

#headerimage {
	position: absolute;
	width: 120px;
	height: 120px;
	text-align: center;
	right: 110px;
	top: 40px;
}

#headerflame {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0;
	right: 0;
}

#headerbutton {
	position: absolute;
	width: 100px;
	height: 86px;
	top: 70px;
	right: 0;
}

/* メニューバー */
#headermenu {
	clear: both;
	width: 1000px;
	height: 60px;
	margin: 20px auto;
	background: #e6002d;
	font-size: 20px;
	border-radius: 10px; /* CSS3闕画｡� */
	-webkit-border-radius: 10px; /* Safari,Google Chrome逕ｨ */
	-moz-border-radius: 10px;
}

#headermenu li {
	position: relative;
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#headermenu li a {
	display: block;
	margin: 0;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	text-decoration: none;
}

#headermenu li:hover>a {
	background: orange;
	color: red;
}

.menu1 a:hover {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
}

.menu4 a:hover {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#headermenu li ul {
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	border-radius: 0 0 3px 3px;
}

#headermenu li ul li {
	overflow: hidden;
	width: 250px;
	height: 0;
	color: #fff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

#headermenu li ul li a {
	background: orange;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
}

#headermenu li:hover ul li {
	overflow: visible;
	height: 60px;
}

#headermenu li:hover ul li:first-child {
	border-top: 0;
}

#headermenu li:hover ul li:last-child {
	border-bottom: 0;
}

html, body {
	height: 100%;
}

#allwrap {
	width: 100%;
	position: relative;
	height: auto !important; /*IE6対策*/
	height: 100%; /*IE6対策*/
	min-height: 100%;
}

#allcontents {
	padding-bottom: 250px; /*フッターの高さと同じ*/
}

footer {
	height: 191px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footertop {
	height: 40px;
	position: absolute;
	width: 1000px;
	bottom: 200px;
	right: 0;
	left: 0;
	margin: auto;
	text-align: right;
	line-height: 40px;
	color: white;
	font-size: 20px;
}

#footertop a {
	text-decoration: none;
	color: gray;
}

#footertop a:hover {
	text-decoration: none;
	color: gray;
}

#footermenu {
	height: 150px;
	position: absolute;
	width: 100%;
	bottom: 50px;
	background: orange;
	text-align: center;
	color: white;
}

#footermenuin {
	height: 150px;
	position: absolute;
	width: 1000px;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 0;
	background: orange;
	text-align: center;
	color: white;
}

#footermenu1, #footermenu2, #footermenu3, #footermenu4 {
	height: 125px;
	float: left;
	width: 248.75px;
	margin-top: 10px;
}

#footermenu1 h4, #footermenu2 h4, #footermenu3 h4, #footermenu4 h4 {
	font-weight: 900;
	color: gray;
}

#footermenu1, #footermenu2, #footermenu3, #footermenu4 {
	border-left: 1px solid white;
}

#footermenu1 a, #footermenu2 a, #footermenu3 a, #footermenu4 a {
	color: white;
}

#footermenu1 a:hover, #footermenu2 a:hover, #footermenu3 a:hover,
	#footermenu4 a:hover {
	text-decoration: none;
	color: red;
}

#footermenu4 {
	border-right: 1px solid white;
}

#loginfooter {
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footerline {
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background: orange;
	text-align: center;
	line-height: 50px;
	color: white;
	border-top: 1px solid white;
}

/*ボタン*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #e6002d;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	/* 	background: #cb4e4e; */
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2[disabled] {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 3px #CD0014;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	background: #e6002d;
	color: #fff;
	box-shadow: 0 1.5px #CD0014;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #CD0014;
	top: 6px;
}

.submit {
	margin-top: 5px;
	width: 100px;
}