@CHARSET "UTF-8";

* {
	padding: 0px;
	margin:	0px;
}

input {
	border: none;
}

a {
	color: #F0F0F0;
	text-decoration: none;
}
a:VISITED {
	color: #F0F0F0;
	text-decoration: none;
}

body {
	color: #F0F0F0;
	/* 共通背景色 */
	/*background: linear-gradient(#336666, #333366, #336666);
	background: linear-gradient(#669999, #666699, #669999);*/
	background: #303030;
	
	width: 100%;
	height: 100%;
}

.ErrorText {
	color: #FF0000;
	animation: ErrorText 0.5s linear infinite;
}

@keyframes ErrorText {
	0% {color: #FF0000;}
	50% {color: #A00000;}
	100% {color: #FF0000;}
}