@CHARSET "UTF-8";

#MainBox {
	width: 490px;
	height: 330px;
	border: #666666 solid 1px;
	padding: 0px 5px;
	margin: auto;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow: hidden;
}

#TitleBox {
	border-bottom: #666666 solid 1px;
	
	color: #FFFFFF;
}

h1 {
	padding: 5px 0px;
	
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
}

#LoginBox {
}

#LoginBox p {
	font-size: 18px;
}

#LoginBox1 {
	margin-top: 20px;
}

#LoginBox2 {
	margin-top: 5px;
}

#LoginBox3 {
	margin-top: 20px;
}

#LoginBox4 {
	margin-top: 5px;
}

#LoginBox5 {
	margin-top: 25px;
}

.Input1 {
	width: 490px;
	padding: 5px 0px;
	
	font-size: 18px;
	text-indent: 0.5em;
}
.Input1:HOVER {
	background: #9999FF;
}

#SubmitBtn {
	width: 490px;
	padding: 5px 0px;
	
	background: #FFFFFF;
	
	font-size: 18px;
}
#SubmitBtn:HOVER {
	background: #9999FF;
}

#LoginBox6 {
	border: #666666 solid 1px;
	padding: 5px;
	margin-top: 25px;
}