@CHARSET "UTF-8";

#MainBox {
	background: rgba(0, 0, 0, 0.4);
	
	width: 500px;
	height: 250px;
	border-radius: 5px;
	margin: auto;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow: hidden;
}

#TitleBox {
	padding: 30px 0px;
}

h1 {
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
}

#LoginBoxA2 {
	margin-top: 10px;
}

.InputA {
	color: #F0F0F0;
	background: rgba(0, 0, 0, 0.4);
	
	width: 400px;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-left: 50px;
	
	font-size: 24px;
	text-align: center;
}
.InputA:HOVER {
	background: rgba(128, 128, 128, 0.4);
}

#LoginBoxA3 {
	margin-top: 10px;
}

#LoginBoxA3-1 {
	width: 280px;
	height: 40px;
	margin-left: 50px;
	float: left;
	
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 40px;
}

#SubmitBtn {
	color: #F0F0F0;
	background: rgba(0, 0, 0, 0.4);
	
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 5px;
	
	font-size: 24px;
	text-align: center;
}
#SubmitBtn:HOVER {
	background: rgba(128, 128, 128, 0.4);
}