@CHARSET "UTF-8";

#box1A, #box1B, #box1C {
	width: 200px;
	height: 300px;
	
	float: left;
}

#box1A, #box1B {
	border-right: #666666 solid 1px;
}

#box1A {
	width: 324px;
	padding-right: 5px;
}

#box1B {
	width: 318px;
	padding: 0px 5px;
}

#box1C {
	width: 324px;
	padding-left: 5px;
}

h2 {
	padding: 10px 0px;
	
	font-size: 18px;
	text-align: center;
}

.btn1, .btn2 {
	padding: 5px 0px;
	
	color: #000000;
	background: #CCCCCC;
	
	font-size: 18px;
	text-align: center;
}

.btn1:HOVER, .btn2:HOVER {
	background: #9999FF;
}

.btn1 {
	margin-top: 5px;
}

.btn2 {
	margin-top: 10px;
}